<div class="app-container">
  <main class="content">
  <%= render 'nav/navblock' %>

  <h2 class="heading">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="fields__container">
      <div class="fields__left">
        <div class="field">
          <%= f.label :username, class: "field__label" %><br />
          <%= f.text_field :username, class: "field__input", autofocus: true, autocomplete: "username" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "field__label" %><br />
          <%= f.email_field :email, class: "field__input", autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="fields__right">

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, class: "field__label" %> <i class="field__note">(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "field__input" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "field__label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field__input" %>
          </div>

          <div class="field">
            <%= f.label :current_password, class: "field__label" %> <i class="field__note">(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "field__input" %>
          </div>

      </div>
    </div>

    <div class="update">
      <%= f.submit "Update", class: "update__button" %>
    </div>

  <% end %>
  <h3 class="heading">Cancel my account</h3>
  <div class="cancel__container">
    <div class="cancel">
      <p class="cancel__label">Unhappy with your account? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel__button" %></p>
    </div>
  </div>

    <%= link_to "Back", :back, class: "back-link" %>
  </main>
  <%= render 'footer/label' %>
</div>
