<%= form_for(@recipe) do |form| %>
  <% if @recipe.errors.any? %>
    <div class="error_label">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <%= form.fields_for :ingredients do |f| %>
    <div>
      <%= f.label :ingredient_name %>
      <%= f.text_field :name %>
    </div>
    <% if f.object.persisted? %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Mark for removal?" %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
