<div class="app-container">
  <main class="content">
    <%= render 'nav/navblock' %>
    <h1 class="heading">Recipes</h1>
    <div class="recipe">
      <div class="recipe__container">
        <% @recipe.each do |recipe| %>
          <div class="recipe__item">
            <div class="recipe__item-info">
              <h3 class="recipe__item-name"><%= link_to recipe.name, recipe, class: "recipe__name-link" %></h3>
              <p class="recipe__item-description"><%= truncate(recipe.description, length: 65 ) %></p>
            </div>
          </div>
        <% end %>
      </div>
      <br>
      </div>
      <%= link_to 'New Recipe', new_recipe_path, class: "recipes-button" %>
    <%= render 'footer/label' %>
  </main>
</div>
