<div class="app-container">
  <main class="content">
  <%= render 'nav/navblock' %>
  <%= form_for(@recipe) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this @recipe from being saved:</h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <h3>Add Ingredients</h3>
  <div id="ingredients">
    <%= form.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', form: ingredient %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Ingredient', form, :ingredients, form_name: 'form' %>
    </div>
 </div>

  <h3>Add Steps</h3>
    <%= form.fields_for :steps do |step| %>
      <% render 'step_fields', form: step %>
    <% end %>
    <div class="links">
     <%= link_to_add_association 'Add Step', form, :steps, form_name: 'form' %>
   </div>

    <div class="field">
      <%= form.label "Measuremnent", class: 'field__label'%>
      <%= form.collection_select(:recipe_id, Recipe::MEASUREMENTS, :id) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
    <%= link_to 'Back', recipes_path %>
  <%= render 'footer/label' %>
  </main>
</div>
