<div class="app-container">
  <main class="content">
    <%= render 'nav/navblock' %>
    <p id="notice"><%= notice %></p>

    <% if @recipe.image%>
      <%= image_tag @recipe.image.thumb.url %>
    <% else %>
      <%= image_tag "placeholder/placeholder.png" %>
    <% end %>

    <p>
      <strong>Name:</strong>
      <%= @recipe.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @recipe.description %>
    </p>

    <h3>Steps</h3>
    <ol>
      <% for @step in @recipe.steps %>
        <li><%= @step.direction %></li>
      <% end %>
    </ol>

    <h3>Ingredients</h3>
    <ol>
      <% for @ingredient in @recipe.ingredients %>
        <li><%="#{@ingredient.quantity} #{@ingredient.unit} #{@ingredient.content}"%></li>
      <% end %>
    </ol>
    <div class="recipe__links">
      <%= link_to 'Edit this recipe', edit_recipe_path(@recipe), class: "recipe__link" %>
      <%= link_to 'Delete this recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "recipe__link" %>
    </div>
    <%= link_to 'Back', recipes_path %>
    <%= render 'footer/label' %>
  </main>
</div>
