<div class="nav">
  <div class="nav__container">
    <div class="nav__title">
      <%= image_tag "logos/logo.png", width: '120px' %>
      <a class="nav__home" href="/">Meal Planner</a>
    </div>
    <ul class="nav__links">
      <li class="nav__link"><a class="nav__anchor" href="/about">About</a></li>
      <li class="nav__link"><a class="nav__anchor" href="/search">Search</a></li>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.username %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav__anchor' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav__anchor'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'nav__anchor'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'nav__anchor'  %>
      <% end %>
    </ul>
  </div>
</div>
